{
    'extends': 'airbnb',
    'ecmaFeatures': {'modules': true},
    'env': {
        'es6': true,
        'browser': true,
        'node': true
    },
    'parser': 'babel-eslint',
    'rules': {
        'max-len': [1, 80],
        'comma-dangle': [1],
        'guard-for-in': [0]
    }
}
