<ul>
  <li>Wybierz na mapie miejsce do wysadzania.</li>
  <li>Przejdź do Google Street View - przeciągnij żółtego ludzika z lewego górnego rogu i upuść na wybrane miejsce.</li>
  <li>Kliknij przycisk "Start planning".</li>
  <li>Z panelu po prawej wybieraj elementy do wysadzania.</li>
</ul>
