<div class="plantingjs-proxy">
    <div class="layers-menu"></div>
    <div class="plantingjs-toolbox"></div>
    <div class="plantingjs-overlay ui-droppable"></div>
    <div class="plantingjs-google"></div>
    <div class="plantingjs-modal hidden"></div>
</div>
