<div class="plantingjs-proxy">
    <div class="plantingjs-startbtn">
        <span class="icon-menu-hamburger"></span>
         Start planting!
    </div>
    <div class="layers-menu"></div>
    <div class="plantingjs-toolbox"></div>
    <div class="plantingjs-overlay ui-droppable"></div>
    <div class="plantingjs-google"></div>
    <div class="plantingjs-modal"></div>
</div>
