@font-face {
    font-family: 'wu-icons';
    src:    url('../fonts/wu-icons.eot?a99bbt');
    src:    url('../fonts/wu-icons.eot?a99bbt#iefix') format('embedded-opentype'),
        url('../fonts/wu-icons.ttf?a99bbt') format('truetype'),
        url('../fonts/wu-icons.woff?a99bbt') format('woff'),
        url('../fonts/wu-icons.svg?a99bbt#wu-icons') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'wu-icons' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-trash:before {
    content: "\e602";
}
.icon-resize:before {
    content: "\e600";
}
.icon-loop:before {
    content: "\e601";
}
