/* define fonts */

@font-face {
    font-family: 'wu-icons';
    src:url('../fonts/wu-icons.eot?i5ju32');
    src:url('../fonts/wu-icons.eot?#iefixi5ju32') format('embedded-opentype'),
        url('../fonts/wu-icons.woff?i5ju32') format('woff'),
        url('../fonts/wu-icons.ttf?i5ju32') format('truetype'),
        url('../fonts/wu-icons.svg?i5ju32#wu-icons') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    font-family: 'wu-icons';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-trash:before {
	content: "\e602";
}
.icon-resize:before {
	content: "\e600";
}
.icon-loop:before {
	content: "\e601";
}
.icon-car:before {
	content: "\e705";
}
.icon-asterisk:before {
	content: "\e604";
}
.icon-yen:before {
	content: "\e605";
}
.icon-euro:before {
	content: "\e606";
}
.icon-ruble:before {
	content: "\e607";
}
.icon-minus:before {
	content: "\e608";
}
.icon-hourglass:before {
	content: "\e609";
}
.icon-cloud:before {
	content: "\e60a";
}
.icon-envelope:before {
	content: "\e60b";
}
.icon-pencil:before {
	content: "\e60c";
}
.icon-glass:before {
	content: "\e60d";
}
.icon-music:before {
	content: "\e60e";
}
.icon-search:before {
	content: "\e60f";
}
.icon-heart:before {
	content: "\e70a";
}
.icon-star:before {
	content: "\e709";
}
.icon-star-empty:before {
	content: "\e708";
}
.icon-user:before {
	content: "\e611";
}
.icon-film:before {
	content: "\e612";
}
.icon-th-large:before {
	content: "\e613";
}
.icon-th:before {
	content: "\e614";
}
.icon-th-list:before {
	content: "\e615";
}
.icon-ok:before {
	content: "\e616";
}
.icon-remove:before {
	content: "\e617";
}
.icon-zoom-in:before {
	content: "\e618";
}
.icon-zoom-out:before {
	content: "\e619";
}
.icon-off:before {
	content: "\e61a";
}
.icon-signal:before {
	content: "\e61b";
}
.icon-cog:before {
	content: "\e61c";
}
.icon-trash2:before {
	content: "\e61d";
}
.icon-home:before {
	content: "\e61e";
}
.icon-file:before {
	content: "\e61f";
}
.icon-time:before {
	content: "\e620";
}
.icon-road:before {
	content: "\e621";
}
.icon-download-alt:before {
	content: "\e622";
}
.icon-download:before {
	content: "\e623";
}
.icon-upload:before {
	content: "\e624";
}
.icon-inbox:before {
	content: "\e625";
}
.icon-play-circle:before {
	content: "\e626";
}
.icon-repeat:before {
	content: "\e627";
}
.icon-refresh:before {
	content: "\e628";
}
.icon-list-alt:before {
	content: "\e629";
}
.icon-lock:before {
	content: "\e62a";
}
.icon-flag:before {
	content: "\e62b";
}
.icon-headphones:before {
	content: "\e62c";
}
.icon-volume-off:before {
	content: "\e62d";
}
.icon-volume-down:before {
	content: "\e62e";
}
.icon-volume-up:before {
	content: "\e62f";
}
.icon-qrcode:before {
	content: "\e630";
}
.icon-barcode:before {
	content: "\e631";
}
.icon-tag:before {
	content: "\e632";
}
.icon-tags:before {
	content: "\e633";
}
.icon-book:before {
	content: "\e634";
}
.icon-bookmark:before {
	content: "\e635";
}
.icon-print:before {
	content: "\e636";
}
.icon-camera:before {
	content: "\e637";
}
.icon-font:before {
	content: "\e638";
}
.icon-bold:before {
	content: "\e639";
}
.icon-italic:before {
	content: "\e63a";
}
.icon-text-height:before {
	content: "\e63b";
}
.icon-text-width:before {
	content: "\e63c";
}
.icon-align-left:before {
	content: "\e63d";
}
.icon-align-center:before {
	content: "\e63e";
}
.icon-align-right:before {
	content: "\e63f";
}
.icon-align-justify:before {
	content: "\e640";
}
.icon-list:before {
	content: "\e641";
}
.icon-indent-left:before {
	content: "\e642";
}
.icon-indent-right:before {
	content: "\e643";
}
.icon-facetime-video:before {
	content: "\e644";
}
.icon-picture:before {
	content: "\e645";
}
.icon-map-marker:before {
	content: "\e646";
}
.icon-adjust:before {
	content: "\e647";
}
.icon-tint:before {
	content: "\e648";
}
.icon-edit:before {
	content: "\e649";
}
.icon-share:before {
	content: "\e64a";
}
.icon-check:before {
	content: "\e64b";
}
.icon-move:before {
	content: "\e64c";
}
.icon-step-backward:before {
	content: "\e64d";
}
.icon-fast-backward:before {
	content: "\e64e";
}
.icon-backward:before {
	content: "\e64f";
}
.icon-play:before {
	content: "\e650";
}
.icon-pause:before {
	content: "\e651";
}
.icon-stop:before {
	content: "\e652";
}
.icon-forward:before {
	content: "\e653";
}
.icon-fast-forward:before {
	content: "\e654";
}
.icon-step-forward:before {
	content: "\e655";
}
.icon-eject:before {
	content: "\e656";
}
.icon-left:before {
	content: "\e657";
}
.icon-right:before {
	content: "\e658";
}
.icon-plus-sign:before {
	content: "\e659";
}
.icon-minus-sign:before {
	content: "\e65a";
}
.icon-remove-sign:before {
	content: "\e65b";
}
.icon-ok-sign:before {
	content: "\e65c";
}
.icon-question-sign:before {
	content: "\e65d";
}
.icon-info-sign:before {
	content: "\e65e";
}
.icon-info-alt:before {
	content: "\e610";
}
.icon-screenshot:before {
	content: "\e65f";
}
.icon-remove-circle:before {
	content: "\e660";
}
.icon-ok-circle:before {
	content: "\e661";
}
.icon-ban-circle:before {
	content: "\e662";
}
.icon-arrow-left:before {
	content: "\e663";
}
.icon-arrow-right:before {
	content: "\e664";
}
.icon-arrow-up:before {
	content: "\e665";
}
.icon-arrow-down:before {
	content: "\e666";
}
.icon-share-alt:before {
	content: "\e667";
}
.icon-resize-full:before {
	content: "\e668";
}
.icon-resize-small:before {
	content: "\e669";
}
.icon-exclamation-sign:before {
	content: "\e66a";
}
.icon-gift:before {
	content: "\e66b";
}
.icon-leaf:before {
	content: "\e66c";
}
.icon-fire:before {
	content: "\e66d";
}
.icon-eye-open:before {
	content: "\e66e";
}
.icon-eye-close:before {
	content: "\e66f";
}
.icon-warning-sign:before {
	content: "\e670";
}
.icon-plane:before {
	content: "\e671";
}
.icon-calendar:before {
	content: "\e672";
}
.icon-random:before {
	content: "\e673";
}
.icon-comment:before {
	content: "\e674";
}
.icon-magnet:before {
	content: "\e675";
}
.icon-chevron-up:before {
	content: "\e676";
}
.icon-chevron-down:before {
	content: "\e677";
}
.icon-retweet:before {
	content: "\e678";
}
.icon-cart:before {
	content: "\e679";
}
.icon-folder-close:before {
	content: "\e67a";
}
.icon-folder-open:before {
	content: "\e67b";
}
.icon-resize-vertical:before {
	content: "\e67c";
}
.icon-resize-horizontal:before {
	content: "\e67d";
}
.icon-hdd:before {
	content: "\e67e";
}
.icon-bullhorn:before {
	content: "\e67f";
}
.icon-bell:before {
	content: "\e680";
}
.icon-certificate:before {
	content: "\e681";
}
.icon-plus:before {
	content: "\e682";
}
.icon-thumbs-down:before {
	content: "\e683";
}
.icon-hand-right:before {
	content: "\e684";
}
.icon-hand-left:before {
	content: "\e685";
}
.icon-hand-up:before {
	content: "\e686";
}
.icon-hand-down:before {
	content: "\e687";
}
.icon-circle-arrow-right:before {
	content: "\e688";
}
.icon-circle-arrow-left:before {
	content: "\e689";
}
.icon-circle-arrow-up:before {
	content: "\e68a";
}
.icon-circle-arrow-down:before {
	content: "\e68b";
}
.icon-globe:before {
	content: "\e68c";
}
.icon-wrench:before {
	content: "\e68d";
}
.icon-tasks:before {
	content: "\e68e";
}
.icon-filter:before {
	content: "\e68f";
}
.icon-briefcase:before {
	content: "\e690";
}
.icon-fullscreen:before {
	content: "\e691";
}
.icon-dashboard:before {
	content: "\e692";
}
.icon-paperclip:before {
	content: "\e693";
}
.icon-heart-empty:before {
	content: "\e694";
}
.icon-link:before {
	content: "\e695";
}
.icon-phone:before {
	content: "\e696";
}
.icon-pushpin:before {
	content: "\e697";
}
.icon-usd:before {
	content: "\e698";
}
.icon-gbp:before {
	content: "\e699";
}
.icon-sort:before {
	content: "\e69a";
}
.icon-sort-by-alphabet:before {
	content: "\e69b";
}
.icon-sort-by-alphapet-alt:before {
	content: "\e69c";
}
.icon-sort-by-order:before {
	content: "\e69d";
}
.icon-sort-by-order-alt:before {
	content: "\e69e";
}
.icon-sort-by-attributes:before {
	content: "\e69f";
}
.icon-sort-by-attributes-alt:before {
	content: "\e6a0";
}
.icon-unchecked:before {
	content: "\e6a1";
}
.icon-expand:before {
	content: "\e6a2";
}
.icon-collapse-down:before {
	content: "\e6a3";
}
.icon-collapse-up:before {
	content: "\e6a4";
}
.icon-log-in:before {
	content: "\e6a5";
}
.icon-flash:before {
	content: "\e6a6";
}
.icon-log-out:before {
	content: "\e6a7";
}
.icon-new-window:before {
	content: "\e6a8";
}
.icon-record:before {
	content: "\e6a9";
}
.icon-save:before {
	content: "\e6aa";
}
.icon-open:before {
	content: "\e6ab";
}
.icon-saved:before {
	content: "\e6ac";
}
.icon-import:before {
	content: "\e6ad";
}
.icon-export:before {
	content: "\e6ae";
}
.icon-send:before {
	content: "\e6af";
}
.icon-floppy-disc:before {
	content: "\e6b0";
}
.icon-floppy-saved:before {
	content: "\e6b1";
}
.icon-floppy-remove:before {
	content: "\e6b2";
}
.icon-floppy-save:before {
	content: "\e6b3";
}
.icon-floppy-open:before {
	content: "\e6b4";
}
.icon-credit-card:before {
	content: "\e6b5";
}
.icon-transfer:before {
	content: "\e6b6";
}
.icon-cutlery:before {
	content: "\e6b7";
}
.icon-header:before {
	content: "\e6b8";
}
.icon-compressed:before {
	content: "\e6b9";
}
.icon-earphone:before {
	content: "\e6ba";
}
.icon-phone-alt:before {
	content: "\e6bb";
}
.icon-tower:before {
	content: "\e6bc";
}
.icon-stats:before {
	content: "\e6bd";
}
.icon-sd-video:before {
	content: "\e6be";
}
.icon-hd-video:before {
	content: "\e6bf";
}
.icon-subtitles:before {
	content: "\e6c0";
}
.icon-sound-stereo:before {
	content: "\e6c1";
}
.icon-sound-dolby:before {
	content: "\e6c2";
}
.icon-sound-5-1:before {
	content: "\e6c3";
}
.icon-sound-6-1:before {
	content: "\e6c4";
}
.icon-sound-7-1:before {
	content: "\e6c5";
}
.icon-copyright-mark:before {
	content: "\e6c6";
}
.icon-registration-mark:before {
	content: "\e6c7";
}
.icon-cloud-download:before {
	content: "\e6c8";
}
.icon-cloud-upload:before {
	content: "\e6c9";
}
.icon-tree-conifer:before {
	content: "\e6ca";
}
.icon-tree-deciduous:before {
	content: "\e6cb";
}
.icon-cd:before {
	content: "\e6cc";
}
.icon-save-file:before {
	content: "\e6cd";
}
.icon-open-file:before {
	content: "\e6ce";
}
.icon-level-up:before {
	content: "\e6cf";
}
.icon-copy:before {
	content: "\e6d0";
}
.icon-paste:before {
	content: "\e6d1";
}
.icon-alert:before {
	content: "\e6d2";
}
.icon-equalizer:before {
	content: "\e6d3";
}
.icon-king:before {
	content: "\e6d4";
}
.icon-queen:before {
	content: "\e6d5";
}
.icon-pawn:before {
	content: "\e6d6";
}
.icon-bishop:before {
	content: "\e6d7";
}
.icon-knight:before {
	content: "\e6d8";
}
.icon-baby-formula:before {
	content: "\e6d9";
}
.icon-tent:before {
	content: "\e6da";
}
.icon-blackboard:before {
	content: "\e6db";
}
.icon-bed:before {
	content: "\e6dc";
}
.icon-apple:before {
	content: "\e6dd";
}
.icon-erase:before {
	content: "\e6de";
}
.icon-lamp:before {
	content: "\e6df";
}
.icon-duplicate:before {
	content: "\e6e0";
}
.icon-piggy-bank:before {
	content: "\e6e1";
}
.icon-scissors:before {
	content: "\e6e2";
}
.icon-btc:before {
	content: "\e6e3";
}
.icon-scale:before {
	content: "\e6e4";
}
.icon-ice-lolly:before {
	content: "\e6e5";
}
.icon-ice-lolly-tasted:before {
	content: "\e6e6";
}
.icon-education:before {
	content: "\e6e7";
}
.icon-key:before {
	content: "\e6e8";
}
.icon-doors:before {
	content: "\e6e9";
}
.icon-option-horizontal:before {
	content: "\e6ea";
}
.icon-option-vertical:before {
	content: "\e6eb";
}
.icon-menu-hamburger:before {
	content: "\e6ec";
}
.icon-modal-widnow:before {
	content: "\e6ed";
}
.icon-oil:before {
	content: "\e6ee";
}
.icon-grain:before {
	content: "\e6ef";
}
.icon-sunglasses:before {
	content: "\e6f0";
}
.icon-text-size:before {
	content: "\e6f1";
}
.icon-text-color:before {
	content: "\e6f2";
}
.icon-text-background:before {
	content: "\e6f3";
}
.icon-object-align-top:before {
	content: "\e6f4";
}
.icon-object-align-bottom:before {
	content: "\e6f5";
}
.icon-object-align-horizontal:before {
	content: "\e6f6";
}
.icon-object-align-left:before {
	content: "\e6f7";
}
.icon-object-align-vertical:before {
	content: "\e6f8";
}
.icon-object-align-right:before {
	content: "\e6f9";
}
.icon-triangle-right:before {
	content: "\e6fa";
}
.icon-triangle-left:before {
	content: "\e6fb";
}
.icon-triangle-bottom:before {
	content: "\e6fc";
}
.icon-triangle-top:before {
	content: "\e6fd";
}
.icon-console:before {
	content: "\e6fe";
}
.icon-superscript:before {
	content: "\e6ff";
}
.icon-subscript:before {
	content: "\e700";
}
.icon-menu-left:before {
	content: "\e701";
}
.icon-menu-right:before {
	content: "\e702";
}
.icon-menu-down:before {
	content: "\e703";
}
.icon-menu-up:before {
	content: "\e704";
}
.icon-laquo:before {
	content: "\e706";
}
.icon-raquo:before {
	content: "\e707";
}
