.plantingjs-proxy {
    position: relative;
    height: 100%;
    width: 100%;
}

.plantingjs-proxy[data-state="viewer"] .plantingjs-plantedobject-tools,
.plantingjs-proxy[data-state="viewer"] .layers-menu {
    display: none !important;
}

.plantingjs-overlay {
    height: 100%;
    width: 100%;
    z-index: 100;
    display: none;
    position: absolute;
    overflow: hidden;
}

.plantingjs-google {
    height: 100%;
    width: 100%;
}

.plantingjs-startbtn {
    z-index: 100;
    display: none;
    position: absolute;
    top: 5px;
    left: 50%;
    margin-left: -180px;
    background-color: #fff;
    padding: 5px;
    border: 1px solid #999;
    cursor: pointer;
}

.layers-menu {
    display:none;
    z-index: 999;
    position: absolute;
    top: 5px;
    bottom: 5px;
    left: 5px;
    /*width: 40px;*/
}
.layers-menu .plantingjs-layer-item {
    height: 40px;
    margin-bottom: 2px;
    background-color: rgba(255,255,255,.5);
    border: 1px solid #000;
    /*border-radius: 50%;*/
    text-align: center;
}

.plantingjs-layer-col {
    display: inline-block;
}

.plantingjs-layer-item-up,
.plantingjs-layer-item-down {
    display: block;
    margin: 0 auto;
}


.plantingjs-layer-item.user-active {
    box-shadow: 0px 0px 20px white;
}

.plantingjs-toolboxobject-container {
    position: absolute;
    top: 30px;
    bottom: 0px;
    right: 0;
    left: 0;
    overflow: auto;
}
.plantingjs-toolboxobject-item {
    position: relative;
    margin-bottom: 2px;
    min-height: 100px;
    background: #fafafa;
}

.plantingjs-toolboxobject-prototype {

}
.plantingjs-toolboxobject-draggable {
    position: absolute;
    top: 0px;
    left: 0px;
}

.plantingjs-hidden {
    display: none;
}

.plantingjs-plantedobject-container {
    position: absolute !important;
    border-radius: 20%;
}
.plantingjs-plantedobject-container img {
    border-radius: 20%;
}

.plantingjs-plantedobject-tools {
    top: -20px;
    right: -20px;
    bottom: -20px;
    left: -20px;
    position: absolute;
    background-color: rgba(255,255,255,.1);
    border: 2px solid #000;
    border-radius: 50%;
    font-size: 1.5em;
    text-shadow: 0 0 1px #fff;
    box-shadow: 0 0 0px rgba(0,0,0,.0), inset 0 0 0px rgba(255,255,255,.0);
    transition: box-shadow .5s;
}
.plantingjs-plantedobject-tools.user-active {
    box-shadow: 0 4px 16px rgba(0,0,0,.8), inset 0 0 50px rgba(255,255,255,.9);
}
.plantingjs-plantedobject-tools [class*="icon-"] {
    position: absolute;
    padding:.3em;
    background-color: rgba(255,255,255,.4);
    border: 1px solid #fff;
    border-radius: 50%;
    cursor: pointer;
}
.plantingjs-plantedobject-tools .icon-trash {
    top: -20px;
    left: 49%;
}
.plantingjs-plantedobject-tools .icon-resize {
    top: 70%;
    left: 0;
}
.plantingjs-plantedobject-tools .wrapper-rotate {
    position: absolute;
    top: 70%;
    left: 82%;
}
.plantingjs-plantedobject-tools .wrapper-rotate .icon-loop {
    opacity: 1;
    position: relative;
    top: 0;
    left: 0;
}
.plantingjs-plantedobject-tools .wrapper-rotate > * {
    padding:.3em;
    opacity: 0;
    transition: all .5s;
}
.noselect .plantingjs-plantedobject-tools .wrapper-rotate > *,
.plantingjs-plantedobject-tools .wrapper-rotate:hover > * {
    opacity: 1;
}
.plantingjs-plantedobject-tools .wrapper-rotate .icon-menu-left,
.plantingjs-plantedobject-tools .wrapper-rotate .icon-menu-right {
    top: 5%;
    font-size: .7em;
    border: 0;
}
.plantingjs-plantedobject-tools .wrapper-rotate .icon-menu-right {
    right: -1.3em;
}
.plantingjs-plantedobject-tools .wrapper-rotate .icon-menu-left {
    left: -1.3em;
}
.plantingjs-plantedobject-tools .wrapper-rotate .degrees {
    position: absolute;
    top: 90%;
    right: 0;
    left: 0;
    text-align: center;
    font-family: Roboto, arial, sans-serif;
    font-size: .7em;
    font-weight: bold;
}

.plantingjs-savebtn {
    top: 0px;
    left: 0px;
    width: 100%;
    height: 20px;
    background-color: #f00;
}
