$toolbox-width: 180px;

.plantingjs-toolbox {
    z-index: 999;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: $toolbox-width;
    background-color: #fff;
    transform: translateX(-100%);
    transition: transform $default-transition;

    .plantingjs-is-planting & {
        transform: translateX(-80%);
    }

    &.plantingjs-is-user-active {
        transform: translateX(0);
    }

    &-toggle {
        position: absolute;
        right: 0;
        background-color: #fff;
    }

    &-hide {
        width: 0;
    }

    &-list {
        padding: 0;

        &:hover {
            .plantingjs-toolbox-item {
                .plantingjs-toolbox-image {
                    opacity: .8;
                }

                &:hover {
                    .plantingjs-toolbox-image {
                        opacity: 1;
                    }
                }
            }
        }
    }

    &-item {
        display: block;
        margin: 0;
        border-bottom: 1px solid $secondary-color;
    }

    &-image {
        display: block;
        max-width: 100%;
        margin: 0 auto;
        transition: opacity $default-transition;
    }

    &-container {
        box-shadow: $default-shadow;
        height: 100%;
        overflow: auto;
    }
}

.plantingjs-toolboxobject-item {
    position: relative;
    margin-bottom: 2px;
    min-height: 100px;
    background: #fafafa;
}
