.plantingjs-proxy {
    position: relative;
    height: 100%;
    width: 100%;
}

.plantingjs-overlay {
    height: 100%;
    width: 100%;
    z-index: 100;
    display: none;
    position: absolute;
    overflow: hidden;
}

.plantingjs-google {
    height: 100%;
    width: 100%;
}

.plantingjs-startbtn {
    z-index: 100;
    display: none;
    position: absolute;
    top: 5px;
    left: 50%;
    margin-left: -180px;
    background-color: #fff;
    padding: 5px;
    border: 1px solid #999;
}

.plantingjs-toolbox {
    z-index: 999;
    display:none;
    position: absolute;
    top: 5px;
    bottom: 5px;
    right: 5px;
    width: 320px;
    background-color:  #fff;
}

.plantingjs-toolboxobject-container {
    position: relative;
}

.plantingjs-toolboxobject-prototype, .plantingjs-toolboxobject-draggable {
    position: absolute;
    top: 0px;
    left: 0px;
}

.plantingjs-hidden {
    display: none;
}

.plantingjs-plantedobject-container {
    position: absolute !important;
}

.plantingjs-plantedobject-tools {
    top: -20px;
    right: -20px;
    bottom: -20px;
    left: -20px;
    position: absolute;
    background-color: rgba(255,255,255,.1);
    border: 2px solid #000;
    border-radius: 50%;
    font-size: 1.5em;
    text-shadow: 0 0 1px #fff;
}
.plantingjs-plantedobject-tools [class*="icon-"] {
    position: absolute;
    padding:.3em;
    background-color: rgba(255,255,255,.4);
    border: 1px solid #fff;
    border-radius: 50%;
}
.plantingjs-plantedobject-tools .icon-trash {
    top: -20px;
    left: 50%;
}
.plantingjs-plantedobject-tools .icon-resize {
    top: 70%;
    left: 2%;
}
.plantingjs-plantedobject-tools .icon-loop {
    top: 70%;
    left: 90%;
}
.plantingjs-plantedobject-tools .icon-loop * {
    opacity: 0;
    transition: all .5s;
}
.plantingjs-plantedobject-tools .icon-loop:hover * {
    opacity: 1;
}
.plantingjs-plantedobject-tools .icon-loop [class*="icon-"] {
    top: 20%;
    font-size: .7em;
    border: 0;
}
.plantingjs-plantedobject-tools .icon-loop .icon-menu-right {
    right: -1.3em;
}
.plantingjs-plantedobject-tools .icon-loop .icon-menu-left {
    left: -1.3em;
}
.plantingjs-plantedobject-tools .icon-loop .degrees {
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    text-align: center;
    font-family: Roboto, arial, sans-serif;
    font-size: .8em;
    font-weight: bold;
}

.plantingjs-savebtn {
    top: 0px;
    left: 0px;
    width: 100%;
    height: 20px;
    background-color: #f00;
}