<div class="plantingjs-layer-col plantingjs-layer-info">
  <span>{{ cid }}</span>
</div>
<div class="plantingjs-layer-col plantingjs-layer-arrows">
  <button class="plantingjs-layer-item-up js-dir-up">UP</button>
  <button class="plantingjs-layer-item-down js-dir-down">DOWN</button>
</div>
