<div class="plantingjs-toolboxobject-prototype">
  <img src="{{ projectionUrl }}">
</div>
<div class="plantingjs-toolboxobject-draggable ui-draggable ui-draggable-handle"">
  <img src="{{ projectionUrl }}">
</div>
