<span class="icon-trash"></span>
<span class="icon-resize"></span>
<div class="wrapper-rotate">
  <span class="icon-menu-left"> </span>
  <span class="degrees">0&deg;</span>
  <span class="icon-menu-right"></span>
  <span class="icon-loop"></span>
</div>
