<span class="icon-trash"></span>
{{#if options.SCALABILITY}}
  <span class="icon-resize"></span>
{{/if}}
{{#if options.ROTATABILITY}}
  <div class="wrapper-rotate">
    <span class="icon-loop"></span>
  </div>
{{/if}}
