<div class="plantingjs-modal-background"></div>
<div class="plantingjs-modal-inner">
  <button class="plantingjs-modal-close-btn">&#x2715;</button>
  <div class="plantingjs-modal-content"></div>
</div>
